//
// Constants
//

//  Section width
$section-width: 1040px;
$real-section-width-rem: (1000rem / 20);

//
// Colors
//
$white-primary: rgba(255,255,255,0.87);
$white-secondary: rgba(255,255,255,0.60);
$white-faded: rgba(255,255,255,0.38);
$black-primary: rgba(0,0,0,0.87);
$black-secondary: rgba(0,0,0,0.60);
$black-faded: rgba(0,0,0,0.38);
$gray-light: #aaa;
$gray-on-dark: rgba(white, 0.7);
$gray: #ccc;
$dark-gray: #888;


$blue-light: #4E738F;
$blue-primary: #204561;
$blue-dark: #092134;

$magic-green: #4BE2B3;

//
// Typography and spacing
//
@font-face {
  font-family: 'MilkyLove';
  font-style: normal;
  font-weight: 700;
  src: local('Milky Love'), local('MilkyLove'),
       url('../fonts/Milky_Love.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Milky_Love.ttf') format('truetype'), /* Safari, Android, iOS */
}

$body-font: 'Iowan Old Style', 'Book Antiqua', 'Palatino Linotype', 'Palatino',
  'URW Palladio L', 'Palatino LT STD', 'Droid Serif', 'Georgia', serif;
$milky: 'Milky Love', 'MilkyLove', 'Gill Sans', 'Gill Sans MT',
  'Nimbus Sans L', Roboto, sans-serif;

$source-sans: 'Source Sans Pro', ui-sans-serif, system-ui, -apple-system, sans-serif;
$line-length-long-form: 35rem;
$line-length: 37rem;

// Spacing
$space-025: 0.25rem;
$space-05: 0.5rem;
$space-1: 1rem;
$space-2: 2rem;
$space-4: 4rem;
$space-6: 6rem;
$space-8: 8rem;

// $font-size-multi: 0.3rem;
$font-size-9: 4.7rem;
$font-size-8: 4.1rem;
$font-size-7: 3.5rem;
$font-size-6: 2.9rem;
$font-size-5: 2.3rem;
$font-size-4: 1.7rem;
$font-size-3: 1.4rem;
$font-size-2: 1.1rem;
$font-size-1: 0.85rem;
$font-size--1: 0.75rem;
$font-size--2: 0.7rem;
$font-size--3: 0.6rem;
$font-size--4: 0.55rem;

$line-0: 1.25;
$line-1: 1.5;



$opacity-primary: 0.87;
$opacity-secondary: 0.6;
$opacity-faded: 0.38;

